/* bulma */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 10px;
  size: 300px;
}

.hero {
  background-color: rgb(200, 245, 236);
}

.control {
  margin: 30px 30px 50px;
}
.box {
  background-color: rgb(200, 245, 236);
  margin: 20px 5px 20px 5px;
}

#paragraph {
  color: white;
  background-color: rgb(36, 116, 136);
}


/* style for github button */
#github{
  border:thin;
  color: snow;
  background:rgb(73, 73, 73);
  padding: 10px 10px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
  border-radius: 20px;
}

#github:hover{
  box-shadow: 2px 2px 20px rgb(98,98,98);
  text-decoration: underline;
}

#github img{
  max-height: 30px;
  max-width: 30px;
}
