/* bulma */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  }


.p {
  color: black;
  font-size: 16px;
}
.title {
  font-size: 16px;
  text-align: center;
}

.box {
  background-color: rgb(200, 245, 236);
}

/*-----------------Style for Scroll to Top Page Button--------------------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 10px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/*-----------------/end Style for Scroll to Top Page Button--------------------------*/


/*----------------Style for video background; background is looped muted video-------*/
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
/*----------------/end Style for video background; background is looped muted video-------*/

/*------------------------- Style for main about---------------------------------*/

/* Add some content at the bottom of the video/page */
.content {
  color: white;
  object-position: center;
  padding: 20px;
  width: 50%;
  z-index: 10;
}
/*------ style code for .button----*/
#github{
  border:thin;
  color: snow;
  background:rgb(73, 73, 73);
  padding: 10px 10px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
  border-radius: 20px;
}

#github:hover{
  box-shadow: 2px 2px 20px rgb(98,98,98);
  text-decoration: underline;
}

#github img{
  max-height: 30px;
  max-width: 30px;
}
/*------ /end style code for .button----*/