/* bulma */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 10px;
    size: 300px;
}

.hero {
    background-color: rgb(200, 245, 236);
    margin-bottom: 30px;
}

.control {
    margin: 30px 30px 50px;
}

.button {
    margin: 2px;
}

.card {
    border-radius: 1px;
    margin: 30px 0px;
}
